*{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                          supported by Chrome and Opera */
}

html,body{
	width:100%;
	height:100%;
	overflow:hidden;
	max-height:100%;
	margin:0;
	background:#e6e6e6;
	font-family: sans-serif;
}
#wrapper{
	width:100%;
	float:left;
	margin:0;
	text-align:center;
	padding:0;
}
#game_field{
	max-width: 450px;
	max-height: 450px;
	width: 100vw;
	height: 100vw;
	margin: calc((100vh - 450px - 50px) / 2) auto;
}
@media screen and (max-width: 450px) {
	#game_field{
		margin: calc((100vh - 100vw - 50px) / 2) auto;
	}
}
#new{
	margin: 5px auto 0 auto;
	width:100px;
	height:50px;
	line-height:50px;
	font-size:18px;
	box-sizing:border-box;
	text-align:center;
	cursor:pointer;
	border-bottom:2px solid #76c2cd;
}
.box{
	max-width:146px;
	max-height:146px;
	width: calc((100vw / 3) - 4px);
	height: calc((100vw / 3) - 4px);
	float:left;
	border:2px solid #76c2cd;
	color: #737373;
	line-height: 146px !important;
	font-size: 4em !important;
}

@media screen and (max-width: 450px) {
	.box{
		line-height: calc((100vw / 3) - 4px) !important;
		font-size: calc(100vw / 7) !important;
	}
}
#a1, #a2, #a3{
	border-top: none;
}
#c1, #c2, #c3{
	border-bottom: none;
}
#a1, #b1, #c1{
	border-left: none;
}
#a3, #b3, #c3{
	border-right: none;
}
footer{
	position: fixed;
	width: 100%;
	height: 30px;
	bottom: 0;
	font-size: 15px;
	padding: 0 5px;
	box-sizing: border-box;
}

@media screen and (max-width: 450px) {
	footer{
		font-size: 13px;
	}
}
footer a{
	color: #101010
}
